.bindDevice {
  max-width: 30rem;   
}

.bindDevice p {
    margin: 0.5rem;
}

.bindDevice .code > *{
    display:block;
    margin: 1rem auto;    
    text-align:center;
}

.bindDevice .code > input {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1rem;
}