x-headerstatus {
    display:block;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

.headerStatus .netstate {
    float:  left;
}

.headerStatus .stav .automode {    
    font-variant-caps:small-caps;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    font-size: 1.2em;
}

.headerStatus .stav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
}

.headerStatus .stav > div.mode {
    height: 3em;
    width: 6em;
    align-content: center;
}

.headerStatus .stav >div.mode {
    background-color:#878181;
    color:#ffffff;
    font-weight: bold;
}

.headerStatus .stav.mode1 >div.mode {
    background-color:green;
    color:#ffffff;
}

.headerStatus .datetime {
    white-space: nowrap;
    text-align:center;
}
.headerStatus .stav.mode2 >div.mode {
    background-color:red;
    color:yellow;
    font-weight: bold;
}

.headerStatus .stav.mode0>div.automode::before {
    content:"Neznámý";
}
.headerStatus .stav.mode1>div.automode::before {
    content:"Ruční ovládání";
    color: #ff9b9b;
}

.headerStatus .stav.pend >div.mode {background-color: #222;}

.headerStatus .stav >div.mode::before {
    content: "RUČNĚ";
}

.headerStatus .stav.op1 >div.mode::before {
    content: "STOP";
}

.headerStatus .stav.op0 >div.mode::before {
    content: "AUTOMAT";
}

.headerStatus .stav.mode2{
    background-color: #445344;
}

.headerStatus .stav.mode2.automode0 .automode::before {
    content:"Automaticky / Plný výkon";
}
.headerStatus .stav.mode2.automode1 .automode::before {
    content:"Automaticky / Snížený výkon";
}
.headerStatus .stav.mode2.automode2 .automode::before {
    content:"Automaticky / Útlum";
}
.headerStatus .stav.mode3>div.automode::before {
    content:"STOP";
}
.headerStatus .stav.mode4>div.automode::before {
    content:"Zahajování";
}
.headerStatus .stav.mode5>div.automode::before {
    content:"Ostatní";
}

.headerStatus .stav > div.mode {
    text-align:center;
    cursor:pointer;
}

.headerStatus .stav > div.mode:active {
    border: 2px inset;
    box-sizing: border-box;
    transform: translate(2px,2px);
}