ul.menuSettings {
    margin: 0;
    padding: 0.2rem;
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    font-size: 1.5rem;
    border: 1px solid;
    box-shadow: 3px 3px 5px black;
    background-color: black;
}

ul.menuSettings > li {
    list-style:none;
    padding: 0.2rem 1rem;
    cursor: pointer;
    
}
ul.menuSettings > li:hover {
    background-color: #040;
    
}
ul.menuSettings > li[data-name=version] {
    margin-bottom: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid;
    cursor: default;
}
ul.menuSettings > li[data-name=version]:hover {
    background-color: initial;
}

ul.menuSettings > li:active {
    background-color: #444;
    
}