
html {
    background-color: #2f2a2a;
    color: white;
    font-family: sans-serif;

}

.chyba {
    font-size:  0.8em;
    color:  red;
    text-align: right;
    display: none;
}

.chyba.zobrazena {
    display: block;
}

.buttonpanel {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 1em;
}

.buttonpanel > button {
    min-width: 5em;
}

button {
    font-size: 1.1em;
    padding: 0.5em;
}

.okno.section {
    position:absolute;
    border: 1px solid gray;
    width: 20em;
    left:0;
    right:0;
    margin: auto;
    top:30%;
    padding: 2em 1em 1em 1em;
    background-color:black;
    box-shadow: 5px 5px 5px 0px #00000091;
}

.zasobnik .label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.zasobnik .fill {
    background-color: #a98559;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.zasobnik .bok1  {
    position: absolute;
    left: 0;
    bottom: 0;
    height:0;
    width:0;
    border-top: 7rem solid transparent;
    border-left: 5rem solid;
}

.zasobnik .bok1.b {
    color: #2f2a2a;
    transform: translate(-2px,2px)
}

.zasobnik .bok2  {
    position: absolute;
    right: 0;
    bottom: 0;
    height:0;
    width:0;
    border-top: 8rem solid transparent;
    border-right: 2rem solid;
}

.zasobnik .bok2.b {
    color: #2f2a2a;
    transform: translate(2px,2px)
}

div.zasobnik {
    width: 10em;
    height: 8.7em;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    position: relative;
}

.ovladace {
    display: flex;
    align-items: stretch;
    cursor: pointer;
    gap: 2px;
    flex-direction: column;
    width: 10em;
    height: 10em;
    padding-top: 2.7em;
    padding-bottom: 1.5em;
}

.ovladace > div {
    text-align: center;
    flex-grow: 1;
    align-content: center;
    border-radius: 1em;
    background-color: #444;
    color: #888;
}

.ovladace > div.on {
    background-color: #477f30;
    color: yellow;
    font-weight: bold;
}

.prvekspopisem {
    text-align: center;
    position: relative;
cursor: pointer;
}

.prvekspopisem > span {
    display: block;
    padding: 1em;
}

.prvekspopisem:active {
    transform: translate(1px,1px);
}

.prvekspopisem:hover::after {
    position: absolute;
    background-color: #88888852;
    left: 0;
    top: 30px;
    right: 0px;
    bottom: 30px;
    content:"";
    display:block;
    box-shadow: 0 0 10px 14px #8885;
}

.dashboard {
    display: flex;
    gap: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.teplomer {
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid #0000;
    width: 10em;
    height: 10em;
    border-radius: 10em;
    position: relative;
}

.teplomer .label {
    position:absolute;   
    left:0;
    right: 0;
}

.teplomer .label.cur_temp {
    bottom: 2rem;
    text-align: center;
    font-size: 1.5em;
    border:  1px solid #888;
    width: 2.5em;
    margin:  auto;
    border-radius: 0.5em;
}
.teplomer .label.t20 {
    bottom: 1.5em;
    text-align:left;
    padding-left: 1.3em;
}
.teplomer .label.t40 {
    bottom: 6em;
    text-align:left;
    padding-left: 0.5em;
}
.teplomer .label.t60 {
    top: 0.1em;
    text-align:center;
}
.teplomer .label.t80 {
    bottom: 6em;
    text-align:right;
    padding-right: 0.5em;
}
.teplomer .label.t100 {
    bottom: 1.5em;
    text-align:right;
    padding-right: 1.3em;
}
.teplomer .needle {
    width: 9em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 0px;
    transition: 1s transform;
}

.teplomer .max.needle::before {
    border: 1px solid red;     
}
.teplomer .min.needle::before {
    border: 1px solid green;    
}

.teplomer .needle::before {
    border: 2px solid;
    display: block;
    content: "";
    font-size: 0px;
    width: 50%;
    margin-top: -2px;
}
.teplomer .needle::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1em;
    height: 1em;
    position:absolute;
    content: "";
    background-color: currentcolor;
    margin:auto;
    border-radius: 1em;
    
}

body {
    margin: 0;
    overflow-x:hidden;
}

.button {
    cursor: pointer;
    align-content: center;
    text-align: center;
    position: relative;
    box-sizing:content-box;
}

.button:hover {
    border: 2px solid;
    margin: -2px -2px;   
}

.button:active {
    transform: translate(1px,1px);
    border: 2px groove;
}


.header {
    text-align: center;
    background-color: #393c4fd4;
    padding: 5px;
    border-bottom: 1px solid #585f8d;
    font-weight: bold;
}
.header::after {
    content: "";
    display:inline-block;
    width: 0.7em;
    height: 0.7em;
    background-color: green;
    border-radius: 1em;
    margin-left: 0.5em;
    vertical-align: baseline;
}

.header.neterror::after {
    background-color: red;
}

.header.netconnecting::after {
    animation: netconnectingAnimation 4s;
    animation-fill-mode: both;
}

@keyframes netconnectingAnimation {
    0% {
        background-color: green;
    }
    50% {
        background-color: green;
    }
    100% {
        background-color: yellow;
    }
}

#stav::before {
    display:block;
    font-variant-caps:small-caps;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    font-size: 1.2em;
}

div#stav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
}

div#stav > * {
    height: 3em;
    width: 6em;
    align-content: center;
}

#stav .button {
    background-color:#878181;
    color:#ffffff;
    font-weight: bold;
}

#stav.mode1 .button {
    background-color:green;
    color:#ffffff;
}

#stav.mode2 .button {
    background-color:red;
    color:yellow;
    font-weight: bold;
}

#stav.mode0::before {
    content:"Neznámý";
}
#stav.mode1::before {
    content:"Ruční ovládání";
    color: #ff9b9b;
}


#stav .button::before {
    content: "RUČNĚ";
}

#stav.mode2 .button::before {
    content: "STOP";
}

#stav.mode1 .button::before {
    content: "AUTOMAT";
}

#stav.mode2{
    background-color: #445344;
}

#stav.mode2.automode0::before {
    content:"Automaticky / Topí";
}
#stav.mode2.automode1::before {
    content:"Automaticky / Útlum";
}
#stav.mode2.automode2::before {
    content:"Automaticky / Obnova";
}
#stav.mode3::before {
    content:"STOP";
}
#stav.mode4::before {
    content:"Ostatní";
}

.sub_section .sectionname {
    text-align: center;
    border-bottom: 1px gray solid;
}

.sub_section.unhide {
    max-height: 1.3rem;
    overflow-y: hidden;
    transition: 0.5s;
}
.sub_section.unhide.unhidden {
    max-height: 10em;
}
.sub_section.unhide .sectionname {
    cursor: pointer;
}

.sub_section.unhide .sectionname::after {
    content: "▾";
    padding: 0 0 0  1em;
}

.sub_section.unhide.unhidden .sectionname::after {
    content: "▴";
}

.section >.sectionname {
    position: absolute;
    top: -0.8em;
    left: 0.5em;
    font-size: 1.2em;
    padding: 0.2em;
    background-color: #2f2a2a;
}

.okno.vystupni .vstupni.sectionname.black {
    display: none;
}
.okno.vstupni .vystupni.sectionname.black {
    display: none;
}

.section.okno >.sectionname {
    background-color:black;
    border-radius: 1em;
    padding: 0.2em 1em;
    border-top: 2px solid gray;
}

.section label {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    gap: 1em;
    align-items: center;
}

.section {
    border: 1px solid;
    /* min-width: 30em; */
    margin-top: 1em;
    padding-top: 1em;
    position: relative;
}


.sect_container {
    display: flex;
}

input {
    border: 1px solid;
    font-size: 1.4em;
    color: wheat;
    background-color: black;
}


input[type=number]{
    text-align: center;
    width: 5em;
}