x-traygauge {
    display: block;
    width:1em;
    height:1em;
    font-size:10rem;
}

.trayGauge .label {
    position: absolute;
    left: 0.7em;
    right: 0;
    top: 2em;
    font-size: 0.15em;
    text-shadow: 0 0 9px black;
    text-align: center;
}
.trayGauge .label::after {
    content:"%"
}

.trayGauge .fill {
    background-color: #a98559;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.trayGauge .bok1  {
    position: absolute;
    left: 0;
    bottom: 0;
    height:0;
    width:0;
    border-top: 0.7em solid transparent;
    border-left: 0.5em solid;
}

.trayGauge .bok1.b {
    color: #2f2a2a;
    transform: translate(-2px,2px)
}

.trayGauge .bok2  {
    position: absolute;
    right: 0;
    bottom: 0;
    height:0;
    width:0;
    border-top: 0.8em solid transparent;
    border-right: 0.2em solid;
}

.trayGauge .bok2.b {
    color: #2f2a2a;
    transform: translate(2px,2px)
}

.trayGauge {
    width: 100%;
    height: 100%;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    position: relative;
}

@keyframes trayopenanim {
    0% {opacity: 100%;}
    49% {opacity: 100%;}
    50% {opacity: 0%;}
    99% {opacity: 0%;}
    100% {opacity: 100%;}
}

.trayGauge.open .fill {
    animation: trayopenanim 1s infinite;
}
.trayGauge.open::after {
    content: "Zásobník otevřený";
    display:block;
    position:absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.11em;
}

